<?xml version="1.0"?>
<!-- 
//  ALMListManagerTool
//  Copyright © Hewlett-Packard Company 2012

//  This program is free software; you can redistribute it and/or modify
//  it under the terms of the GNU General Public License as published by
//  the Free Software Foundation; either version 2 of the License, or
//  (at your option) any later version.

//  This program is distributed in the hope that it will be useful,
//  but WITHOUT ANY WARRANTY; without even the implied warranty of
//  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
//  GNU General Public License for more details.

//  You should have received a copy of the GNU General Public License along
//  with this program; if not, write to the Free Software Foundation, Inc.,
//  51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.
-->
<configuration>
  <configSections>
    <section name="listConfiguration" type="hp.go2alm.ALMListManagerTool.ConfigSection, ALMListManagerTool" requirePermission="false" />
    <section name="serverConfiguration" type="hp.go2alm.ALMListManagerTool.ConfigSection, ALMListManagerTool" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="logPath" value="./logs/ALMListManager.log" />
    <add key="userGuidePath" value="" />
    <!--Role that will be able to delete lists-->
    <add key="groupToDeleteLists" value="type role to delete list" />
  </appSettings>
  <!-- ALM Server Names-->
  <serverConfiguration>
    <serverNames>
      <add name="http://servername.com">
      </add>
      <add name="http://servername2.com">
      </add>
    </serverNames>
  </serverConfiguration>
  <!-- Blocked Lists-->
  <listConfiguration>
    <blockedLists>
      <add name="type your blocked list">
      </add>
      <add name="type your blocked list">
      </add>
      <add name="type your blocked list">
      </add>
      <add name="type your blocked list">
      </add>
    </blockedLists>
  </listConfiguration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>